
p {
    font-family: Georgia,serif;
    font-size: x-large;
    text-align: center;
    padding-top: 10%;
}
.container {
    display: grid;
    font-family: Georgia,serif;
    text-align: center;
}
.item {
    padding: 15px;
}
.u1 {
font-family: Georgia,serif;
font-size: larger;
}
body {
    background-color: lightblue;
}
.r1 {
    background-color: darkolivegreen;
}
img {
    float: right;
}